<!-- <div class="container-fluid headerTitle text-center pt-2 pb-2"  style="background-color: #eed7db,  ">
    <span class="small pr-4">Support help@internnexus.com</span><span class="small pr- pl-2">Claims 1800-123-4567 </span><span class="pr-4 small">Portfolio</span> 
  </div> -->





<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: linear-gradient(to right top, #f0f0f0, #e9e7e7, #f0e5e7, #eed7db, #ecc8ce);">
    <a class="navbar-brand" style="margin-left: 5%; color:#e3415f; ">INTERN NEXUS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link ml-3" href="#"  style="color:black; font-size: 18px; "> HOME <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ml-3" href="#" style="color: black; font-size: 18px;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PORTFOLIO
          </a>
          <div class="dropdown-menu" style="background-image: linear-gradient(to right top, #f0f0f0, #e9e7e7, #f0e5e7, #eed7db, #ecc8ce)" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"  routerLink='/concept'>industries</a>
            <a class="dropdown-item" href="#" routerLink='/super'>Party</a>
          
            
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle ml-3" href="#" style="color: 	#e3415f;font-size: 18px;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ABOUT
            </a>
            <div class="dropdown-menu" style="background-color:whitesmoke" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"  routerLink='/cleaning'>Partnership</a>
              <a class="dropdown-item" href="#" routerLink='/carwash'>Place</a>
             
              
              
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link ml-3 mr-4" href="#" routerLink='/contact' style="color: black; font-size: 18px;">CONTACT <span class="sr-only">(current)</span></a>
          </li>
        
          
       
      </ul>
    </div>
  </nav>
